
nav div{
  background-color: #2c3e50;
  h1 a{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
  }
  a{
 text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 21px;
  }

}

img{
  max-width: 100%;
}

.profile{
  width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.body{
  height: 90vh;
  background-color: #1abc9c;
}

footer{
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding:  0;
  
}

.fa-brands{
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding: 7px;
  border: 2px solid #fff;
  
}

.card:hover .layer{
  opacity: .8 !important;
  transition: all 0.3s ease-in-out  ;
}
.fa-plus{
  color: #fff;
  font-size: 90px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal{
  height: 100vh;
}

.active{
  background-color: #16a085 !important;
  border-radius: 5px;
  padding: 5px 10px;
}

.error-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  h1{
    font-size: 50px;
    font-weight: bolder;
    color: #090909;
  }
}

.contact{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
form{
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  
}
input,textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-style: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

button{
  background-color: #16a085;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  
}


button:hover{
  background-color: #1abc9c;
  cursor: pointer;
}

.star{
  color: #2c3e50;
  position: relative;
  margin: 100px 0px 70px 0px;
}

.star::after{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50px;
  transform: translateY(-50%);
  width: 30%;
  height: 4px;
  border-radius: 5px;
  background-color: #2c3e50;

  color: #f1c40f;

  margin-left: 10px;
}

.star::before{
  content: '';
  position: absolute;
  bottom: -15px;
  right: 50px;
  transform: translateY(-50%);
  width: 30%;
  height: 4px;
  border-radius: 5px;
  background-color:#2c3e50 ;

 

  margin-left: 10px;
}
body{
  margin: 0;
  font-family: Arial, sans-serif;
}




